<div class="calender__body">
  <div class="calender__table">
    <div class="calender__table__header">
      <div class="calender__row">
        <div class="calender__col">Time</div>
        {{#each days as |day| }}
          <div class="calender__col">{{day}}</div>
        {{/each}}
      </div>
    </div>
    <div class="calender__table__body">
      {{#each times as |tm| }}
        <div class="calender__row">
          <div class="calender__col">{{tm}}</div>
          <div class="calender__col"></div>
        </div>
      {{/each}}
      {{#each showTasks as |task| }}
        {{calender-tag name=task.name x=task.x y=task.y}}
      {{/each}}
    </div>
  </div>
</div>
{{yield}}
