@import "default/color";
@import "default/helpers";
// @import "pages/index";
@import "pages/app";
@import "pages/user";
@import "component/calender";
@import "pages/graph";
@import "component/brain";
@import "component/bot";
@import "component/modal";
@import "component/table";
@import "component/messages";
@import "component/card";
@import "component/task";
@import "component/switch";
@import "default/grid";
@import "default/default";
@import "default/positioning";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  // background: $index_background;
}

.full-size {
  width: 100%;
  height: 100%;
}

.tag {
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  color: white;
  font-size: 0.7em;
  width: auto;
  height: 50px;
  background: orangered;
  border: 1px solid white;
  margin: 5px;
}


//Remove navbar
::-webkit-scrollbar {
    display: none;
}


body > .ember-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.liquid-child {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
}

h1, h2, h3, h4, h5, p, a, b, i, small, div {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-family: Lato;
  color: white;
}

input, button, select {
  outline: none
}

input:disabled {
  background: gray;
  opacity: 0.5
}

span {
  font-family: Lato;
  color: white;
}


a {
  text-decoration: none;
}

ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;

}

label {
  margin: 7px;
  font-size: 20px;
  font-family: Lato;
  display: flex;
}

hr {
  border: 1px solid white
}

.btm--boreder {
  border-bottom: 1px solid white;
}

button:disabled {
  opacity: 0.5
}

.graphs {
  border: 2px solid white;
  background: white;
}

canvas {
    width: 90% !important;
    max-width: 800px;
    max-height: 200px;
    height: auto !important;
    margin-bottom: 30px;
}

@media screen and (max-width: 850px) {
  .brain__card {
    width: 50%;
  }

}

@media screen and (max-width: 1200px) {
  .brain__card {
    width: 70%;
  }

}

.overlay {
  @include size(100%, 100%);
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.brain__logo {
  height: 40px;
  margin: 10px 0px 0px 20px;
  padding: 5px 5px 0px 5px;
  border: 2px solid white;
  border-radius: 15px;
}


/**
 * Input checkbox
 */



input[type=checkbox] {
  display: none;
}


.checkbox{
  height: 50px;
  width: 50px;
  left: 40px;
  top: -40px;
  position: relative;
}

.checkbox label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 15px;
    bottom: 4px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.checkbox input[type=checkbox]:checked + label:before {
  content: "";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 24px;
  background: #7b3e68;
  color: #7b3e68;
  text-align: center;
    line-height: 15px;
}

.checkbox input[type=checkbox]:disabled + label:before  {
  background: gray;
  opacity: 0.5;
}


 input[type="checkbox"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  border: 2px solid white;
 }


 .checkbox__update {
   display: flex;
   flex-direction: column;
   top: 0;
   left: 0;
 }

 .checkbox__update p {
  text-align: center;
  margin-top: -10px;
 }

 .checkbox__update label {
  display: block;
  // margin-bottom: -5px;
 }
