<div class="overlay">
</div>

<div class="brain__modal">
  <div class="brain__modal__header">
    <h2>This is a modal</h2>
  </div>
  <hr>
  <div class="brain__modal__header">
    Lorem ipsum dolor sit amet, consectetur adipisicing
    elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam,
  </div>
  <footer>
    <button type="button" class="brain_model_button">Success</button>
  </footer>
</div>
{{yield}}
