#ember367
  width: 100%
.header
  display: flex
  width: 100%
  height: 70px
  margin-bottom: 10px
  background: $index_background
  box-shadow: 4px 6px 13px -1px rgba(163,163,163,0.58)

header
  display: flex
  width: 100%
  height: 100%
  flex-direction: row-reverse

.left
  width: 10%
  display: flex
  background: $index_background
  box-shadow: 9px 6px 13px -1px rgba(163,163,163,0.58)
.main
  width: 90%
.app
  display: flex
  height: 100%
  width: 100%
  // flex-direction: row
  flex-wrap: wrap

//Test

.brain__navigation
  display: flex
  flex-wrap: wrap
  flex-direction: row

.brain__navigation__component
  margin: 20px 10px 0px 0px

.content__card
  width: 80%
  height: 500px
  display: flex
  background: $index_background
  flex-direction: column
  // border: 2px solid $logo_border_background
  box-shadow: 4px 6px 13px -1px rgba(163, 163, 163, 0.58)
  margin: 0px 0px 0px 10px
  padding: 10px

.brain__user
  display: flex
  width: 50px
  height: 50px
  border: 2px solid $logo_border_background
  border-radius: 50%
  margin: 5px 5px 0px 0px
  overflow: hidden
  img
    margin-top: 0px
    max-width: 100%
    max-height: 100%
