.app__graph__properties
  width: 30%
  height: 100%

.graph__containers
  margin: 15px
  padding: 5px

.app__types__status
  width: 100%
  height: 100%
  display: flex
  flex-wrap: wrap

.app__graph__main
  width: 70%
  height: 100%
  overflow: auto

.brain__card__pie
  +size(12%, 400px)
  min-width: 200px
  margin: 10px 0px 0px 10px
  +flexType(row, wrap, center, center)


.brain__card
  +size(30%, 400px)
  margin: 10px 0px 0px 10px
  +flexType(row, wrap, center, center)

.brain__bar
  margin: 0px 5px
  min-width: 50%

.time-circle
  fill: white
  font-family: Lato
  font-weight: bold
