{{#large-graph state="happy" data=model.tasks tasks=model.tasks getMonth="getMonth"}}

{{charts/brain-bar title='Progress'data=model.tasks}}
{{charts/brain-bubble title='Bubble-chart' data=model.tasks}}

  <div class="form-control form-control--row">
    {{#each-in model.stages as |key value|}}
      {{charts/brain-pie title=key data=value}}
    {{/each-in}}
  </div>
{{/large-graph}}
{{outlet}}
