%brain_default
  width: 100%
  height: 100%
  display: flex
  justify-content: center

.brain__design
  padding: 10px
  margin: 5px
  background: $index_background
  transition: all 0.5s ease
  box-shadow: 4px 6px 13px -1px rgba(163, 163, 163, 0.58)
  &:hover
    background: $logo_background

.brain_login
  display: flex
  width: 50%
  height: auto
  margin: 0 auto
  padding-bottom: 50px
  flex-direction: column

.brain_register
  display: flex
  width: 50%
  height: auto
  margin: 0 auto
  padding-bottom: 50px
  flex-direction: column

#chart-moti
  background: white

.brain__input
  +size(70%, 25px)
  border-radius: 15px
  border: none
  padding: 5px

.brain__dropdown
  +size(100%, 35px)
  appearance: none
  font-size: 16px
  border: 1px solid white

.brain__nav
  width: 100%
  padding: 0

.active
  background: $button_backgorund

.brain__nav  i
  font-size: 30px

.brain__nav > li
  width: 100%
  padding: 0
  margin: 0
  align-items: center
  justify-content: space-between
  text-align: center
  &:hover
    background: $button_backgorund

.brain__links
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  padding: 10px 0px

.brain__main
  width: 100%
  height: 100%
  overflow-y: scroll
  +flexType(row, wrap, center, center)

.brain__timer
  +size(94%, auto)
  background: $index_background
  margin: 10px
  display: flex
  flex-direction: row

.liquid-child
  +size(100%, 100%)
  +flexType(row, wrap, center, flex-start)

/*
  === Brain positioning ===
  */
%brain__50
  display: flex
  width: 50%
  padding: 0
  margin: 0
  flex-direction: column

.brain__modal
  top: 40%
  left: 40%
  min-width: 400px
  min-height: 200px
  margin: -350px -100px
  z-index: 20
  padding: 15px
  position: absolute
  transform: translateY(-200px)
  text-align: center
  background: white
  border-radius: 5px
  transition: all 0.5s cubic-bezier(0,1.52,.89,1.23)
  h2
    font-weight: bold
    color: $logo_border_background

.brain__modal *
  color: $button_backgorund
.brain__modal > footer
  margin-top: 15px
.modal--animate
  transform: translateY(200px)


.brain__right
  width: 100%
  display: flex
  align-items: flex-end
