.brain_login
  width: 100%
  height: 100%
  display: flex
  color: white
  justify-content: center
.brain__form
  width: 100%
.brain__group
  width: 100%
  padding: 5px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.brain__label
  margin: 7px
  font-size: 20px
  font-family: Lato
  display: flex
  color: white
.card__body_col
  flex-direction: column
.brain__logo
  height: 40px
  margin: 10px 0px 0px 20px
  padding: 5px 5px 0px 5px
  border: 2px solid white
  border-radius: 15px
.brain_all
  width: 100%
  +flexType
.brain__input
  width: 70%
  height: 25px
  border-radius: 15px
  outline: none
  border: none
  padding: 5px
.brain__dropdown
  width: 100%
  height: 35px
  appearance: none
  font-size: 16px
  border: 1px solid white
  outline: none
.brain__nav
  width: 100%
  padding: 0
.brain__nav > li
  width: 100%
  padding: 5px 0px 5px 0
  text-align: center
  &:hover
    background: $button_backgorund
.brain__links
  width: 100%
  height: 25px
.brain__main
  display: flex
  flex-direction: row
  flex-wrap: wrap

.brain__timer
  width: 94%
  height: 170px
  background: $index_background
  color: white
  margin: 10px
  display: flex
  flex-direction: row

.liquid-child
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap

.brain__input


/** brain card
.card__graph_20
  display: flex
  width: 100%
  height: 20%
  justify-content: center
  align-items: center
.card__graph_80
  display: flex
  width: 100%
  height: 80%
  align-items: center
  justify-content: center

/*
  === Brain positioning ===
  */
%brain__50
  display: flex
  width: 50%
  padding: 0
  margin: 0
  flex-direction: column

.brain__counter__numbers
    font-size: 4em
    margin: 20px 30px
.brain__right, .brain__left
  @extend %brain__50
.brain__container
  display: flex
  flex-direction: column
  justify-content: space-between
  align-content: space-between
  width: 80%
  height: 100%
  margin: 5px 10px
/*
  === Create tasks component ===
  */
.brain__input
  font-size: 14px


/*
  === Mangage tasks component ===
  */

.manage__tasks__list
  margin: 0
  padding: 0
  width: 100%
  height: 250px
  overflow-y: scroll
  // +flexType(column, nowrap)
.manage__tasks__list > li
  width: 100%
  height: 30px
  padding: 10px 0px
  +flexType(row, nowrap, space-around)
  &:hover
    background: $button_backgorund

.task__text
  width: 80%
  font-size: 20px
  white-space: nowrap
.task__text  > p
  padding-right: 20px
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
.task__checkbox
  width: 20%

.overlay
  position: absolute
  width: 100%
  height: 100%
  z-index: 10
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.5)
.brain__modal
  background: white
  width: 400px
  height: 200px
  z-index: 20
  position: absolute
  border-radius: 5px
  padding: 15px
  text-align: center
  top: 40%
  left: 40%
  transform: translateY(-200px)
  margin: -350px -100px
  transition: all 0.5s cubic-bezier(0,1.52,.89,1.23)
  h2
    font-weight: bold
    color: $logo_border_background

.modal--animate
  transform: translateY(200px)
.brain_model_button
  outline: none
  color: white
  font-size: 1.2em
  padding: 7px
  margin: 5px
  border-radius: 5px
  border: none
  background: $logo_border_background
