.brain__calender
  +size(100%, 100%)
  +flexType(column)
  margin: 0px 10px
  padding: 10px 0
  background: $index_background

.calender__header
  width: 95%
  margin: 10px 10px
  +flexType(row, wrap, space-between)

.calender__body
  +size(100%, 100%)
  +flexType(row)
  margin: 10px 10px

.calender__table
  border: 2px solid $border
  width: 90%

.calender__table__header
  font-size: 1.5em
  font-weight: bold
  flex-wrap: wrap

.calender__table__body
  +flexType()

.calender__row
  +flexType()

.calender__col
  width: calc(100% / 7.1)
  flex-grow: 1
  border-right: 1px solid $border
  min-height: 70px
  text-align: center
  +flexType()

.calender__table__body > .calender__col:hover
  background: $logo_background

.calender__row > .calender__col:last-child
  border-right: none

.calender__table__body .calender__col
  border-top: 1px solid $border

.calender__table__body .calender__col:nth-child(7n)
  border-right: none
