.calender__header
  width: 95%
  height: 10%
  flex-wrap: wrap
  justify-content: space-between

.calender__body
  position: relative

.calender__table
  border: 2px solid $border
  width: 90%

.calender__table__header
  font-size: 1.5em
  font-weight: bold
  flex-wrap: wrap

.calender__table__body
  +flexType()
  font-size: 1.5em
  position: relative

.calender__row
  width: 100%
  +flexType(row, nowrap)

.calender__col
  flex-grow: 1
  flex: 14%
  border-right: 1px solid $border
  min-height: 70px
  text-align: center
  +flexType()

.calender__table__body > .calender__col:hover
  background: $logo_background

.calender__row > .calender__col:last-child
  border-right: none

.calender__table__body .calender__col
  border-top: 1px solid $border

.calender__table__body .calender__col:nth-last-child()
  border-right: none
