.message__app
  display: flex
  flex-direction: row
  width: 100%
  height: 100%

.user__list
  width: 25%
  padding: 10px

.user__messages
  width: 75%
  background: blue

.user__message
  display: flex
  flex-direction: row
  align-content: center
  padding: 5px 0px 5px 0px
  border-bottom: 2px solid $logo_border_background
.user__message__title
  margin: 15px 0px 0px 10px
.circle
  width: 50px
  height: 50px
  border-radius: 50%
  border: 2px solid $logo_border_background
  border-radius: 50%

.user__display
  width: 100%
  height: 75%
  padding-top: 20px
  background: red
.user__text
  padding-top: 10px
  width: 100%
  height: 17%
  background: green
.user__text__input
  width: 80%
  height: 25px
  margin: 10px

.message_text
    display: inline
    background: white
    width: auto
    height: auto
    padding: 10px
    margin-left: 5px
    border-radius: 10px

.triangle
  content: ""
  position: absolute
  bottom: 0
  left: 0
  width: 0
  height: 0
  border: 5px solid white
  border-right-color: transparent
  border-top-color: transparent
