/*
  === Brain modal components ===
  */
.modal__tasks
  display: flex
  flex-direction: row
.modal__tasks > input
  border: 1px solid $button_backgorund
.brain__modal__body
  position: relative
  button
    color: white

.brain__add_input
  position: relative
  justify-content: space-around
.brain__add_input > input
  margin: 5px
  width: 40%
.brain__add_input > label
  left: 25%
  top: -20px
  position: relative
  color: white

.brain__checkbox__date
  width: 100%
  margin: 10px 0px
  display: flex
  flex-direction: row
  justify-content: space-around
  position: relative
.brain__checkbox
  display: flex
  flex-direction: column
.brain__checkbox > label
  text-align: center
.modal__task__add
  width: 50px
  height: 50px
  margin-top: 20px
  background: $button_backgorund
  color: white
  font-size: 1.5em
  border-radius: 50%
  border: none
  &:active
    box-shadow: inset 0px 0px 54px 0px rgba(0,0,0,0.75)
.modal__new__tasks
  margin: 10px 0px
