/*
  === Mangage tasks component ===
  */

.manage__tasks__list
  margin: 0
  padding: 0
  width: 100%
  height: 250px
  overflow-y: scroll
  // +flexType(column, nowrap)
.manage__tasks__list > li
  width: 100%
  height: 30px
  padding: 10px 0px
  +flexType(row, nowrap, space-around)
  &:hover
    background: $button_backgorund

.task__text
  width: 80%
  font-size: 20px
  white-space: nowrap
.task__text  > p
  padding-right: 20px
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
.task__checkbox
  width: 20%
