<div class="card__header">
  <h2>Create new tasks to work on.</h2>
</div>
<div class="card__body">
  {{input value=new_task class="brain__input"}}
  <div class="brain_all">
    <button {{action "createNewTask" new_task}} class="btn"> Create </button>
  </div>
</div>
<div class="card__footer">
  <p>
    Saving data to server + showing an animation
  </p>

</div>
{{yield}}
